/*
Styling for index
NoteShift 1.0
*/

html {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: rgb(54, 47, 47);
}  

input[type=submit] {
  background-color: rgb(62, 79, 238);
  border: none;
  color: rgb(231, 227, 227);
  padding: 14px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 15px
}

input[type=submit]:hover{
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.08);
  transition: box-shadow 0.2s ease-in-out;
}

h1 {
  font-size: 50px;
}

.selectionText {
  font-size: 20px;
}

body {
  background-image:url(background.png);
  background-repeat:no-repeat;
  background-size:cover;
}

.myselect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 45px;
  padding: 6px 12px;
  border-radius: 4px;
  line-height: 1.5;
  transition: all .2s ease-in-out;
  background-color: rgb(62, 79, 238);
  color: rgb(245, 236, 236);
  font-size: 18px;
  border: none;
}

/*IE*/
.myselect::-ms-expand {
  display: none;
}
  
.myselect:focus {
  outline: 0;
  border-color: #9cc6f3;
  box-shadow: 0 0 0 3px rgba(0, 121, 250, .3);
}